* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
.headers {
    height: 90px;
    background-color: #008000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    max-height: 100px;
    margin-right: 25px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px
}

.navigation ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.booking-container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

textarea {
    resize: none;
}

.total-cost {
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 20px;
}

button.booking-button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button.booking-button:hover {
    background-color: #00A900;
}